.nav {
  background-color: #374151;
  margin-bottom: 0.75rem;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lista {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
  list-style: none;
}

.titulo {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.link {
  text-decoration: none;  
  color: white;
}
.botonUser {
  color: #FFA500;
  padding-left: 5px;
  text-decoration: none;  
}

.botonLink {
  border-radius: 0.25rem;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 2px 5px;
}
.agregar {
  background-color: #1E90FF; 
}
.cerrar {
  background-color: #FF6347; 
}
.signIn {
  background-color: #1E90FF; 
}
.register {
  background-color: #32CD32; 
}


.botonLink:hover {
  background-color: rgba(255, 255, 255, 0.2); 
}

@media (max-width: 350px) {
  .lista {
    flex-direction: column;
  }


}