/* DASHBOARD */
.dashboard {
  background-color: #505f77;
  color: #abccff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-height: 82.7vh;
  /* !!!!!!!!!!!!!!!!!! */
}

.valorSaldo {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 3em;
  color: #23e899;
}

.dashboardBotones {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  width: 100%;
  justify-content: space-around;
  background-color: #374151;
}

.botonLink {
  border-radius: 0.25rem;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 2px 5px;
  font-size: 1.3em;
}

.agregarGastos {
  background-color: #f55856;
}

.agregarIngresos {
  background-color: #6dc15c;
}

.movimientos {
  background-color: #839cc3;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  padding: 20px;
}



/* MovimientosFormPage */
.movimientosFormPage-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.movimientosFormPage-h2 {
  font-size: 1.7em;
}

.verde {
  color: #1cbd7c;
}

.agregarSaldoIngresoTitulo {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
}

.movimientosFormPage-Form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movimientosFormPage-label {
  font-size: 1.5em;
}

.movimientosFormPage-Form-input {
  width: 100%;
  background-color: #4b5563;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  outline-color: #14d386;
}

.movimientosFormPage-Form-input::placeholder {
  color: #14d386;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.descripcionFormInput {
  resize: none;
  font-size: 30px;
}

.movimientosFormPage-Form-button {
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  color: #242930;
}

.movimientosFormPage-Form-button-guardar {
  background-color: #14d386;
}

.movimientosFormPage-Form-button-cancelar {
  background-color: #f55856;
}



/* HOME PAGE */
.homePageSection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  place-content: center;
  background-color: #e9eae2;
}

.homePageArticle {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.homePageArticleTitle {
  border-bottom: 3px dashed #14d386;
}

.homePageArticleParagraph {
  text-wrap: wrap;
  text-indent: 20px;
  line-height: 1.2;
}

@media screen and (min-width: 480px) {
  .homePageArticle {
    max-width: 50vh;
  }
}




/* PROFILEPAGE */
.pageProfile {
  height: 100vh;
  background-color: #374151;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #14d386;
}

.pageProfile-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  height: 97%;
  width: 95%;
  border-radius: 5px;
  background-color: #505f77;
  padding: 10px;
}

.pageProfile-2 div {
  width: 100%;
}

.pageProfile-titlteAndImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pageProfile-buttonBack-container{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.pageProfile-buttonBack {
  font-size: 2em;
  color: #242930;
  text-align: left;
  outline: none;
  border: none;
  background-color: #ffffff5d;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid #ffffff6c;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pageProfile-buttonBack img {
  width: 30px;
  height: 30px;
}
.pageProfile-buttonBack:hover{
  background-color: #ffffff77;
  border: 1px solid #ffffff8b;
}

.pageProfile-logoImg {
  width: 150px;
  height: 150px;
  max-width: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #14d386;
  margin-bottom: 10px;
  cursor: pointer;
}

.pageProfile-logoImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.pageProfile-tittle {
  font-size: 2em;
  border-bottom: 2px solid #14d386;
  padding: 0 20px;
}

.pageProfile-datos-dato {
  text-align: left;
  border-top: 1px dashed #fff;
  padding: 5px;
}
.blanco {
  color: #fff;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.signoPesoProfile{
  color: #ff4500;
}