/* MovimientosFormPage */
.movimientosFormPage-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.movimientosFormPage-h2 {
  font-size: 1.7em;
}

.verde {
  color: #1cbd7c;
}

.agregarSaldoIngresoTitulo {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
}

.movimientosFormPage-Form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movimientosFormPage-label {
  font-size: 1.5em;
}

.movimientosFormPage-Form-input {
  width: 100%;
  background-color: #4b5563;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  outline-color: #14d386;
}

.movimientosFormPage-Form-input::placeholder {
  color: #14d386;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.descripcionFormInput {
  resize: none;
  font-size: 30px;
}

.movimientosFormPage-Form-button {
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  color: #242930;
}

.movimientosFormPage-Form-button-guardar {
  background-color: #14d386;
}

.movimientosFormPage-Form-button-cancelar {
  background-color: #f55856;
}

